<header class="px-3 h-8 flex items-center text-base text-center bg-gray-200 rounded-t-lg relative">
    <div x-data="terminal" id="terminal-buttons" class="ml-3 flex space-x-2 absolute left-0">
        <a
            class="term-btn flex-none bg-red-500"
            href="/"
            title="Schließen"
        >
            <span class="sr-only">Alles zurücksetzen</span>
        </a>
        <button
            @click="close"
            class="term-btn flex-none bg-yellow-500"
            title="Minimieren"
        >
            <span class="sr-only">Vollbildmodus deaktivieren</span>
        </button>
        <button
            @click="open"
            class="term-btn flex-none bg-green-500"
            title="Maximieren"
        >
            <span class="sr-only">Vollbildmodus aktivieren</span>
        </button>
    </div>
    <h1 id="terminal-header" class="flex-1 text-center text-sm select-none">
        Sitzungstermine <span class="hidden xs:inline">as a Service</span>
    </h1>
</header>
