<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Sitzungstermine as a Service{% endblock %}</title>

    <link
        href="/static/{{ file2hash('css/main.css') }}"
        rel="stylesheet"
        type="text/css"
    >
    <script
        src="/static/{{ file2hash('js/main.js') }}"
        defer
    ></script>

    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
