{% extends 'base.html' %}


{% block header %}

{% if info['query'] %}
<header class="px-6 pt-8">
    <div class="alert warning flex items-center" role="alert">
        <div class="flex-none hidden sm:block">
            <i class="icon-info mr-3 text-current"></i>
        </div>
        <p class="flex-1"><span class="font-medium">Hinweis:</span> Es {% if info['query'] | length > 1 %}wurden die Suchbegriffe{% else %}wurde der Suchbegriff{% endif %} <span class="italic">{{ info['query'] | join(';') }}</span> verwendet.</p>
    </div>
</header>
{% endif %}

{% endblock %}


{% block content %}

<h2 class="mb-2 font-bold text-xl">
    <span class="text-blue-500">Schritt 3:</span> Termine als Download
</h2>
<p class="mb-6">
    Die Sitzungstermine können mit einem Klick auf die untenstehende Schaltfläche heruntergeladen und dann in einen digitalen Kalender importiert werden:
</p>

<form
    class="mb-12 flex justify-center"
    action="/download/{{ info['hash'] }}"
    method="post"
    enctype="multipart/form-data"
>
    <input
        class="hidden"
        type="hidden"
        id="base64"
        name="base64"
        value="{{ info['base64'] }}"
    >
    <button
        type="submit"
        class="group table btn py-3 px-4"
    >
        <div class="flex items-center">
            <div class="flex-none hidden xs:block">
                <i class="icon-software-download mr-4 text-blue-800 group-hover:text-orange-600 group-focus:text-orange-600 transition-colors duration-200"></i>
            </div>
            <div class="flex-1 font-medium">
                <span class="text-white">
                    {{ info['count'] }} {% if info['count'] > 1 %}Termine{% else %}Termin{% endif %} als Download
                </span>
                <span class="hidden xs:inline text-sm text-blue-200 group-hover:text-orange-200 group-focus:text-orange-200 transition-colors duration-200">
                    ({{ info['size'] }})
                </span>
            </div>
        </div>
    </button>
</form>

<h2 class="mb-2 font-bold text-xl">
    Alle Termine <span class="text-blue-500">auf einen Blick</span>
</h2>
<p class="mb-4">
    Für einen schnellen Überblick werden hier alle enthaltenen Termine unter dem jeweiligen Sitzungstag aufgelistet:
</p>
<ul class="mb-8">
    {% for day, items in data.items() %}
    <li
        x-data="dropdown"
        class="{% if not loop.first %} mt-4 {% endif %} border-2 border-dashed border-gray-400 hover:border-blue-500 rounded-lg"
        :class="{ 'border-blue-500' : isOpen }"
    >
        <button
            class="group py-2 px-3 w-full flex items-center text-gray-600 focus:outline-none"
            @click="toggle"
        >
            <div class="flex-1 text-left">
                <p class="font-medium group-hover:text-blue-500">{{ day | dt }} <span class="text-sm text-gray-400 group-hover:text-blue-300">({{ items | length }} {% if items | length > 1 %}Termine{% else %}Termin{% endif %})</span></p>
            </div>
            <i class="flex-none text-gray-400 group-hover:text-blue-500" :class="{ 'icon-remove' : isOpen, 'icon-add' : !isOpen}"></i>
        </button>
        <ul class="px-3 py-4" x-show="isOpen" x-cloak>
            <pre class="code rounded-lg">{{ items | json2string }}</pre>
        </ul>
    </li>
    {% endfor %}
</ul>

{% if info['express'] %}
<h2 class="mb-2 font-bold text-xl">
    <span class="text-blue-500">Bonus:</span> Eildienste
</h2>
<p class="mb-4">
    Im angegebenen Zeitraum sind folgende Vertreter:innen der Staatsanwaltschaft zum Eildienst eingeteilt:
</p>
<div
    x-data="dropdown"
    class="mb-8 border-2 border-dashed border-gray-400 hover:border-blue-500 rounded-lg"
    :class="{ 'border-blue-500' : isOpen }"
>
    <button
        class="group py-2 px-3 w-full flex items-center text-gray-600 focus:outline-none"
        @click="toggle"
    >
        <div class="flex-1 text-left">
            <p class="font-medium group-hover:text-blue-500">Eildienste <span class="text-sm text-gray-400 group-hover:text-blue-300">({{ info['express'][0]['start'] | dt }} bis {{ info['express'][-1]['end'] | dt }})</span></p>
        </div>
        <i class="flex-none text-gray-400 group-hover:text-blue-500" :class="{ 'icon-remove' : isOpen, 'icon-add' : !isOpen}"></i>
    </button>
    <div class="px-3 py-4" x-show="isOpen" x-cloak>
        <pre class="code rounded-lg">{{ info['express'] | json2string }}</pre>
    </div>
</div>
{% endif %}

<div class="flex justify-end">
    <a class="btn" href="/">Neustart</a>
</div>

{% endblock %}
