{% extends 'base.html' %}


{% block header %}

{% include 'partials/banner.html' %}

{% if message %}
<header class="px-6 pt-8">
    <div class="alert {% if error %} error {% else %} warning {% endif %} flex items-center" role="alert">
        <div class="flex-none hidden sm:block">
            <i class="icon-{% if error %}danger{% else %}info{% endif %} mr-3 text-current"></i>
        </div>
        <p class="flex-1"><span class="font-medium">{% if error %}Achtung{% else %}Hinweis{% endif %}:</span> {{message}}</p>
    </div>
</header>
{% endif %}

{% endblock %}


{% block content %}

<form class="m-0" method="post" enctype="multipart/form-data">
    <fieldset class="flex flex-col flex-grow mb-12">
        <label for="files" class="mb-4 font-bold text-xl"><span class="text-blue-500">Schritt 1:</span> PDF-Datei(en) hochladen</label>
        <div
            x-data="upload"
            class="w-full min-h-64 border-2 border-dashed inactive transition-colors duration-200 appearance-none relative rounded-lg"
            :class="{ 'border-blue-500' : hasFiles() }"
        >
            <input
                x-bind="input"
                class="m-0 p-0 w-full h-full absolute inset-0 outline-none opacity-0 z-50 cursor-pointer"
                accept="application/pdf"
                type="file"
                name="files"
                multiple
            >
            <template x-if="!hasFiles()">
                <div class="py-16 px-6 flex flex-col justify-center items-center text-gray-400">
                    <i class="icon-file-document icon-lg mb-8 text-current"></i>
                    <p class="font-medium text-center">Hier klicken oder Liste(n) mit Sitzungsdiensten draufziehen.</p>
                </div>
            </template>
            <template x-if="hasFiles()">
                <div class="py-4 px-6 flex flex-col">
                    <template x-for="[index, file] in Object.entries(files)">
                        <div class="flex" :class="{ 'mt-2' : parseInt(index) > 0 }">
                            <div class="flex-1 flex items-center">
                                <div class="hidden xs:block">
                                    <i class="icon-file-document text-blue-500 mr-4"></i>
                                </div>
                                <span class="font-medium text-gray-600" x-text="file.name">Hochladen ...</span>
                            </div>
                            <div class="flex-none hidden xs:flex items-center">
                                <i class="icon-check-o text-green-500 bg-white"></i>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </fieldset>

    <fieldset class="mb-8">
        <div class="mb-4 flex flex-col xs:flex-row xs:items-center justify-between">
            <label for="query" class="font-bold text-xl"><span class="text-blue-500">Schritt 2:</span> Suche begrenzen<span class="text-orange-400">*</span></label>
            <span class="font-bold text-sm text-orange-400">* empfohlen</span>
        </div>
        <p class="mb-4">
            Die Sitzungstermine können durch die Angabe von Suchbegriffen in untenstehendem Feld eingegrenzt werden - bleibt es frei, werden alle Sitzungstermine exportiert.
        </p>
        <input
            class="mb-4 px-3 py-2 w-full border-2 border-gray-300 hover:border-orange-400 focus:bg-blue-50 focus:border-blue-500 outline-none transition-colors duration-200 rounded-lg"
            type="text"
            name="query"
            placeholder="Peter Müller;Anna Meier"
        >
        <p class="mb-4">
            Für die Termine eines einzelnen Sitzungsvertreters genügt dessen Name. Mehrere Sitzungsvertreter werden durch ein Semikolon voneinander getrennt.
        </p>
        <p class="alert info mb-4">
            <span class="font-medium">Beispiel 1:</span> StA Peter Müller benötigt neben den eigenen auch die Termine seiner Stellvertreterin Sta'in Anna Meier. Er tippt ein: <span class="italic">Peter Müller;Anna Meier</span>
        </p>
        <p class="alert info">
            <span class="font-medium">Beispiel 2:</span> RRef Martin interessiert sich für die Termine seiner Lerngruppe. Er verwendet Dezernatskennungen statt Namen: <span class="italic">210;520;850</span>
        </p>
    </fieldset>

    <div class="flex justify-end">
        <input class="btn text-center" type="submit" value="Absenden">
    </div>
</form>

{% endblock %}
