<!DOCTYPE html>
<html class="text-sm md:text-base text-gray-900 bg-light-blue-600 bg-hero-graph-paper" lang="de">

    {% include 'partials/head.html' %}

    <body class="mx-auto px-4 md:px-8 py-6 md:max-w-3xl">
        {% include 'partials/header.html' %}

        <main class="bg-white">
            {% block header %}{% endblock %}
            <section class="px-6 py-8">
                {% block content %}{% endblock %}
            </section>
            {% block footer %}{% endblock %}
        </main>

        {% include 'partials/footer.html' %}

    </body>
</html>
